

.hh__img-wrapper {
    z-index: 10;
    aspect-ratio: 2500 / 2435;
    opacity: 1;
    pointer-events: none;
    object-fit: contain;
    width: 100%;
    margin-top: 150px;
    transition: opacity 1s cubic-bezier(.25, .74, .22, .99), transform 2s cubic-bezier(.25, .74, .22, .99);
    position: absolute;
    top: 5.2vw;
    transform: translate(0);
}

.hover-box {
    position: relative;
    padding: 60px;
    width: 100%;
    height: 100%;
    background-color: rgba(165, 143, 100, 0.09);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hover-box::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid black;
    opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
}

.hover-box:hover::before {
    opacity: 1;
    transform: scale(1.03);
}


.button-with-icon {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    position: relative;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}


.icon,
.text {
    margin-right: 10px;
    transition: transform 0.6s ease;
}

.button-with-icon:hover {
    background-color: black;
    color: white;
}

.button-with-icon:hover .icon {
    transform: translateX(calc(100% + 50px));
}

.button-with-icon:hover .text {
    transform: translateX(-30px);
}