
.button-with-icon {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    position: relative;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}


.icon,
.text {
    margin-right: 10px;
    transition: transform 0.6s ease;
}
.button-with-icon:hover {
    background-color: black;
    color: #edddc3;
}

.button-with-icon:hover .icon {
    transform: translateX(calc(100% + 65px));
}
.button-with-icon:hover .text {
    transform: translateX(-30px);
}


// .item-hover:hover {
//     color: black;
//     transition: background-color 0.3s ease-in-out;
// }

.item-hover {
    position: relative;
}


.item-hover::before {
    content: "";
    border-radius: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid black;
    opacity: 0;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.item-hover:hover::before {
    opacity: 1;
    transform: scale(1.02);
}